.cabecalho-itens {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
}

.lista{
    display: inline-block;
}

.cabecalho-imagem{
    width: 20%;
}